
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PDA
        </mat-panel-title>
        <mat-panel-description>
            <mat-form-field>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" placeholder="search here" class="search-input">
            </mat-form-field>
        </mat-panel-description>
      </mat-expansion-panel-header>
     
      <mat-card-content >
        <div class="flex-container">
        
          <mat-form-field>
            <input formControlName="pdaNo" matInput placeholder="PDA no" maxlength="50" required>
          </mat-form-field>
        
          <mat-form-field>
            <input formControlName="customer" matInput placeholder="Customer" maxlength="50" required>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="vessel" matInput placeholder="Vessel" maxlength="50" required>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Port" matInput placeholder="Port" maxlength="50" required>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="branch" matInput placeholder="Branch" maxlength="50" required>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Createdby" matInput placeholder="Created By" maxlength="50" required>
          </mat-form-field>
        
          <mat-form-field>
            <mat-select formControlName="recordStatus" placeholder="Status" required>
              <mat-option value="ACTIVE">DRAFT</mat-option>
              <mat-option value="INACTIVE">APPROVAL PENDING</mat-option>
              <mat-option value="ACTIVE">NEED AMENDMENT</mat-option>
              <mat-option value="INACTIVE">APPROVE</mat-option>
              <mat-option value="ACTIVE">SUBMIT</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input [matDatepicker]="picker" formControlName="fromDate" placeholder="From Date" matInput required>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input [matDatepicker]="picker" formControlName="ToDate" placeholder="To Date" matInput required>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        
        </div>
        <div  class="button-section">
           
            <button mat-raised-button
                   >Search </button>
                   <button mat-raised-button
                   >clear </button>
        </div>
    </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>
  