.mat-expansion-panel-header-description {
    justify-content: flex-end;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  .mat-raised-button {
    margin-right: 5px !important;
  }

  .mat-expansion-panel{
    background-color: grey;
  }

  .mdc-text-field--filled {
    background-color: #4a4a4a05;
}


  .flex-container {
    display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  .button-section{
    direction: ltr;
    display: flex;
    justify-content: flex-end;
    column-gap: 2em;
  }

  

